[loggers]
keys=root,request-logger

[handlers]
keys=requestFile, requestStdout,handRoot

[formatters]
keys=reqFormatter

[logger_root]
level=DEBUG
handlers=handRoot

[logger_request-logger]
level=DEBUG
handlers=requestFile,requestStdout
propagate=1
qualname=request

[handler_handRoot]
class=StreamHandler
level=INFO
args=(sys.stderr,)

[handler_requestFile]
class=FileHandler
level=DEBUG
formatter=reqFormatter
args=('logs/requests.log','w')

[handler_requestStdout]
class=StreamHandler
level=INFO
formatter=reqFormatter
args=(sys.stdout,)

[formatter_reqFormatter]
format=%(asctime)s.%(msecs)03d %(levelname)s: %(message)s | request #%(requestNumber)s
datefmt: %d-%m-%Y %H:%M:%S