[loggers]
keys=root,request-logger,stack-logger,independent-logger

[handlers]
keys=requestFile, requestStdout,handRoot,stackFile,indepFile

[formatters]
keys=reqFormatter

[logger_root]
level=DEBUG
handlers=handRoot

[logger_request-logger]
level=INFO
handlers=requestFile,requestStdout
propagate=1
qualname=request-logger

[logger_stack-logger]
level=INFO
handlers=stackFile
propagate=1
qualname=stack-logger

[logger_independent-logger]
level=DEBUG
handlers=indepFile
propagate=1
qualname=independent-logger

[handler_handRoot]
class=StreamHandler
level=INFO
args=(sys.stderr,)

[handler_requestFile]
class=FileHandler
level=DEBUG
formatter=reqFormatter
args=('logs/requests.log','w')

[handler_stackFile]
class=FileHandler
level=DEBUG
formatter=reqFormatter
args=('logs/stack.log','w')

[handler_indepFile]
class=FileHandler
level=DEBUG
formatter=reqFormatter
args=('logs/independent.log','w')

[handler_requestStdout]
class=StreamHandler
level=INFO
formatter=reqFormatter
args=(sys.stdout,)

[formatter_reqFormatter]
format=%(asctime)s.%(msecs)03d %(levelname)s: %(message)s | request #%(requestNumber)d
datefmt: %d-%m-%Y %H:%M:%S